@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/* Appliquer la couleur de fond à la zone défilante */
::-webkit-scrollbar {
    width: 12px; /* Largeur de la barre de défilement */
    height: 12px; /* Hauteur de la barre horizontale */
  }
  
  /* Partie de la barre de défilement qui défile */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, red 10%, white 10%, white 20%, red 20%, red 30%, white 30%, white 40%, red 40%, red 50%, white 50%, white 60%, red 60%, red 70%, white 70%, white 80%, red 80%, red 90%, white 90%);
    background-size: 100% 100%; /* La taille des rayures */
    border-radius: 10px; /* Arrondir les coins */
    border: 3px solid #fff; /* Un léger bord blanc autour de la barre */
  }
  
  /* Partie de la barre de défilement qui reste immobile */
  ::-webkit-scrollbar-track {
    background: #EBEBEB; /* Couleur de fond de la piste */
    border-radius: 10px; /* Arrondir les coins */
  }
  
  body{
    font-family: "Montserrat", sans-serif;
  }